# üèè  Asia Cup T20I ‚Äì Build the Ultimate Best-XI

You are working with Asian Cricket Council and are guided as Data Scientist to pick the Best XI for ACC

For the same you need use Statistical Knowledge (Z-Score) to solve the Problem.

Domain logic to pick the dream squad.

![Image Placeholder](https://www.sikids.com/.image/t_share/MTY4NTE5NDIwNjkwMzc2NDcw/image-placeholder-title.jpg)

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 20)

In [2]:
# LOAD YOUR DATA HERE

batsman_data = pd.read_csv('batsman data t20i.csv')
bowler_data = pd.read_csv('bowler data t20i.csv')
wicketkeeper_data = pd.read_csv('wicketkeeper data t20i.csv')

## BATSMAN DATA CLEANING

In [3]:
## DISPLAY batsman_data

batsman_data

## HINT DISPLAY INFO for the Dataframe, You might need to Clean / treat Data for Batting Average

# batsman_data.info()

#treat Batsman Batting Average to numeric

,Player Name,Country,Time Period,Matches,Played,Not Outs,Runs,Highest Score,Batting Average,Balls Faced,Strike Rate,Centuries,Fifties,Ducks,Fours,Sixes
0,V Kohli,India,2016-2022,10,9,4,429,122,85.80,325,132.00,1,3,1,40,11
1,Mohammad Rizwan,Pakistan,2022-2022,6,6,1,281,78,56.20,239,117.57,0,3,0,21,6
2,RG Sharma,India,2016-2022,9,9,0,271,83,30.11,192,141.14,0,2,1,27,12
3,Babar Hayat,Hong Kong,2016-2022,5,5,0,235,122,47.00,160,146.87,1,1,1,22,10
4,Ibrahim Zadran,Afghanistan,2022-2022,5,5,2,196,64,65.33,188,104.25,0,1,0,14,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,KD Shah,Hong Kong,2016-2022,5,5,0,65,30,13.00,60,108.33,0,0,2,8,2
45,MD Gunathilaka,Sri Lanka,2022-2022,6,6,0,63,33,10.50,58,108.62,0,0,1,7,2
46,Anshuman Rath,Hong Kong,2016-2016,3,3,0,62,41,20.66,70,88.57,0,0,0,7,0
47,Amjad Javed,UAE,2016-2016,7,7,2,61,27,12.20,66,92.42,0,0,1,4,3
48,Khushdil Shah,Pakistan,2022-2022,6,6,2,58,35,14.50,48,120.83,0,0,0,1,5

In [5]:
batsman_data['Batting Average'].unique()

array(['85.80', '56.20', '30.11', '47.00', '65.33', '47.75', '36.20',
       '29.33', '35.20', '34.60', '57.66', '25.83', '30.40', '25.16',
       '37.25', '34.75', '44.00', '26.40', '14.55', '21.50', '17.42',
       '60.50', '38.33', '16.00', '35.00', '26.25', '18.80', '23.25',
       '29.66', '44.50', '12.71', '16.60', '27.33', '26.33', '15.80',
       '26.00', '-', '36.00', '23.00', '11.33', '33.00', '22.00', '13.00',
       '10.50', '20.66', '12.20', '14.50'], dtype=object)

In [6]:
import numpy as np

batsman_data['Batting Average'] = batsman_data['Batting Average'].replace('-', np.nan)

In [4]:
batsman_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player Name      49 non-null     object
 1   Country          49 non-null     object
 2   Time Period      49 non-null     object
 3   Matches          49 non-null     int64
 4   Played           49 non-null     int64
 5   Not Outs         49 non-null     int64
 6   Runs             49 non-null     int64
 7   Highest Score    49 non-null     int64
 8   Batting Average  49 non-null     object
 9   Balls Faced      49 non-null     int64
 10  Strike Rate      49 non-null     float64
 11  Centuries        49 non-null     int64
 12  Fifties          49 non-null     int64
 13  Ducks            49 non-null     int64
 14  Fours            49 non-null     int64
 15  Sixes            49 non-null     int64
dtypes: float64(1), int64(11), object(4)
memory usage: 6.3+ KB

In [8]:
batsman_data['Batting Average'] = pd.to_numeric(batsman_data['Batting Average'])
batsman_data['Batting Average']

0     85.80
1     56.20
2     30.11
3     47.00
4     65.33
      ...
44    13.00
45    10.50
46    20.66
47    12.20
48    14.50
Name: Batting Average, Length: 49, dtype: float64

In [34]:
batsman_data['Batting Average'].unique()

array([85.8 , 56.2 , 30.11, 47.  , 65.33, 47.75, 36.2 , 29.33, 35.2 ,
       34.6 , 57.66, 25.83, 30.4 , 25.16, 37.25, 34.75, 44.  , 26.4 ,
       14.55, 21.5 , 17.42, 60.5 , 38.33, 16.  , 35.  , 26.25, 18.8 ,
       23.25, 29.66, 44.5 , 12.71, 16.6 , 27.33, 26.33, 15.8 , 26.  ,
        0.  , 36.  , 23.  , 11.33, 33.  , 22.  , 13.  , 10.5 , 20.66,
       12.2 , 14.5 ])

In [9]:
batsman_data['Batting Average'].isna().sum()

np.int64(1)

In [12]:
batsman_data['Batting Average'] = batsman_data['Batting Average'].fillna(0)
batsman_data['Batting Average'].isna().sum()

np.int64(0)

In [13]:
batsman_data['Batting Average'].head(10)

0    85.80
1    56.20
2    30.11
3    47.00
4    65.33
5    47.75
6    36.20
7    29.33
8    35.20
9    34.60
Name: Batting Average, dtype: float64

In [14]:
batsman_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player Name      49 non-null     object
 1   Country          49 non-null     object
 2   Time Period      49 non-null     object
 3   Matches          49 non-null     int64
 4   Played           49 non-null     int64
 5   Not Outs         49 non-null     int64
 6   Runs             49 non-null     int64
 7   Highest Score    49 non-null     int64
 8   Batting Average  49 non-null     float64
 9   Balls Faced      49 non-null     int64
 10  Strike Rate      49 non-null     float64
 11  Centuries        49 non-null     int64
 12  Fifties          49 non-null     int64
 13  Ducks            49 non-null     int64
 14  Fours            49 non-null     int64
 15  Sixes            49 non-null     int64
dtypes: float64(2), int64(11), object(3)
memory usage: 6.3+ KB

## BOWLER DATA CLEANING

In [15]:
## DISPLAY batsman_data

bowler_data

,Player Name,Country,Time Period,Matches,Played,Overs,Maiden Overs,Runs,Wickets,Best Figure,Bowling Average,Economy Rate,Strike Rate,Four Wickets,Five Wickets
0,B Kumar,India,2016-2022,6,6,23.0,3,123,13,5/4,9.46,5.34,10.6,1,1
1,Amjad Javed,UAE,2016-2016,7,7,23.0,0,169,12,3/25,14.08,7.34,11.5,0,0
2,Al-Amin Hossain,Bangladesh,2016-2016,5,5,16.5,0,134,11,3/25,12.18,7.96,9.1,0,0
3,Mohammad Naveed,UAE,2016-2016,7,7,27.4,2,145,11,3/14,13.18,5.24,15.0,0,0
4,Rashid Khan,Afghanistan,2016-2022,8,8,31.0,0,202,11,3/22,18.36,6.51,16.9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,YS Chahal,India,2022-2022,4,4,16.0,0,127,4,3/34,31.75,7.93,24.0,0,0
37,Mohammad Hasnain,Pakistan,2022-2022,4,4,15.0,0,134,4,2/21,33.50,8.93,22.5,0,0
38,Mustafizur Rahman,Bangladesh,2016-2022,5,5,19.0,0,134,4,2/13,33.50,7.05,28.5,0,0
39,Mohammad Shahzad,UAE,2016-2016,7,7,19.1,0,156,4,2/27,39.00,8.13,28.7,0,0
40,Aizaz Khan,Hong Kong,2016-2022,5,5,17.3,0,189,4,3/38,47.25,10.80,26.2,0,0

In [16]:
bowler_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player Name      41 non-null     object
 1   Country          41 non-null     object
 2   Time Period      41 non-null     object
 3   Matches          41 non-null     int64
 4   Played           41 non-null     int64
 5   Overs            41 non-null     float64
 6   Maiden Overs     41 non-null     int64
 7   Runs             41 non-null     int64
 8   Wickets          41 non-null     int64
 9   Best Figure      41 non-null     object
 10  Bowling Average  41 non-null     float64
 11  Economy Rate     41 non-null     float64
 12  Strike Rate      41 non-null     float64
 13  Four Wickets     41 non-null     int64
 14  Five Wickets     41 non-null     int64
dtypes: float64(4), int64(7), object(4)
memory usage: 4.9+ KB

In [17]:

bowler_data['Economy Rate'].unique()

array([ 5.34,  7.34,  7.96,  5.24,  6.51,  7.01,  7.39,  6.05,  7.65,
        7.05,  5.06,  6.33,  5.55,  7.66,  9.06,  7.24,  8.91,  5.22,
        7.07,  6.5 ,  7.  ,  8.36,  6.16,  7.75,  6.75,  5.43, 11.  ,
        7.12,  6.  ,  8.62,  4.66,  6.41,  8.4 ,  8.27,  5.88,  7.93,
        8.93,  8.13, 10.8 ])

In [18]:
bowler_data['Bowling Average'].unique()

array([ 9.46, 14.08, 12.18, 13.18, 18.36, 18.81, 18.88, 14.12, 19.12,
       21.75, 11.57, 13.57, 15.85, 19.71, 20.71, 30.  ,  9.16, 15.66,
       16.5 , 23.83, 24.33, 25.33, 25.83, 27.  , 17.4 , 17.6 , 22.8 ,
       27.6 , 30.2 ,  6.5 ,  7.  , 19.25, 21.  , 22.75, 26.5 , 31.75,
       33.5 , 39.  , 47.25])

In [19]:
bowler_data['Bowling Average'].isna().sum()

np.int64(0)

In [20]:
## DISPLAY batsman_data

wicketkeeper_data

,Player Name,Country,Time Period,Matches,Played,Dismissals,Catches,Stumpings,Maximum Dismissals
0,MS Dhoni,India,2016-2016,5,5,7,6,1,3
1,SP Patil,UAE,2016-2016,7,7,7,6,1,2
2,LD Chandimal,Sri Lanka,2016-2016,4,3,4,4,0,2
3,Sultan Ahmed,Oman,2016-2016,3,3,4,2,2,3
4,KD Karthik,India,2022-2022,3,1,3,3,0,3
5,Nurul Hasan,Bangladesh,2016-2016,2,2,3,0,3,2
6,Mohammad Shahzad,Afghanistan,2016-2016,3,3,3,1,2,2
7,Rahmanullah Gurbaz,Afghanistan,2022-2022,5,5,3,3,0,2
8,BKG Mendis,Sri Lanka,2022-2022,6,6,3,3,0,2
9,Mohammad Rizwan,Pakistan,2022-2022,6,6,3,3,0,1
10,Sarfaraz Ahmed,Pakistan,2016-2016,4,4,2,2,0,2
11,Mushfiqur Rahim,Bangladesh,2016-2022,7,5,2,1,1,1
12,SS McKechnie,Hong Kong,2022-2022,2,2,1,1,0,1
13,N Dickwella,Sri Lanka,2016-2016,1,1,0,0,0,0
14,C Carter,Hong Kong,2016-2016,3,3,0,0,0,0
15,RR Pant,India,2022-2022,4,4,0,0,0,0

In [22]:
wicketkeeper_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player Name         16 non-null     object
 1   Country             16 non-null     object
 2   Time Period         16 non-null     object
 3   Matches             16 non-null     int64
 4   Played              16 non-null     int64
 5   Dismissals          16 non-null     int64
 6   Catches             16 non-null     int64
 7   Stumpings           16 non-null     int64
 8   Maximum Dismissals  16 non-null     int64
dtypes: int64(6), object(3)
memory usage: 1.3+ KB

# Zscore

In [21]:
def calculate_z_score(series):
  """Calculates the z-score for a given pandas Series."""
  # Just pass it Pandas Series and it will return a Series of Z Scores
  return (series - series.mean()) / series.std()

 ### **General Approach For Each Department** : Get Z Score for Each Feature, then Combine all Individual Feature based Z Score into one by adding up and creating total_z_Score, then Rank by it and get Top N by Sorted Descending on Total Z Score

### A. Batsmen (pick 6)  
Standardise (**z-score**) the following (higher ‚Üí better):  
- `Not Outs`  
- `Runs`  
- `Highest Score`  
- `Batting Average`  
- `Strike Rate`

In [ ]:
# 1Ô∏è Define features to use for Z-score

# Calculate z-scores for the selected features individually

# Sum the z-scores for each batsman and add as a new column 'zTot'

# Select the top 6 batsmen based on the total z-score

# Display the selected batsmen's names, country, and total z-score

## ANSWERS

In [35]:

batsman_features = ['Not Outs', 'Runs', 'Highest Score', 'Batting Average', 'Strike Rate']


for feature in batsman_features:
    batsman_data[feature + '_z'] = calculate_z_score(batsman_data[feature])


batsman_data['zTotal'] = batsman_data[[f + '_z' for f in batsman_features]].sum(axis=1)


top_6_batsmen = batsman_data.sort_values('zTotal', ascending=False).head(6)


top_6_batsmen[['Player Name', 'Country', 'zTotal']]

           Player Name      Country     zTotal
0             V Kohli         India  14.133817
3         Babar Hayat     Hong Kong   5.901552
10        Mahmudullah    Bangladesh   5.112760
5       PBB Rajapaksa     Sri Lanka   4.880843
8   Najibullah Zadran   Afghanistan   4.687430
1     Mohammad Rizwan      Pakistan   4.672624

### B. Bowlers (pick 4)  
Standardise (**z-score**) the following:  
- `Wickets`  (higher better)  
- `Maiden Overs`  (higher better)  
- `Bowling Average`  (lower better)  
- `Economy Rate`  (lower better)

**Alert**

You may need to invert the Value to get Lower Values more Z Score and Higher Value Low Z Score

Bowling Average and Economy Rate are both Negative Metrics which means as Low they are the Good they are. Else you will end up selecting Hasan Ali üòÜ

**How to Invert?**


(1/value) will also make the Inversion with Lower Value being turned into Larger Values

View: https://www.youtube.com/watch?v=cWHQzAEjt5o&authuser=0

In [ ]:
# 1Ô∏è‚É£ Invert metrics where lower is better
# Bowling Average and Economy Rate: lower values are better ‚Üí invert
# 2Ô∏è‚É£ Define features to use for Z-score calculation

# 3Ô∏è‚É£ Calculate Z-scores for each feature
# 4Ô∏è‚É£ Sum Z-scores to create a total Z-score

# 5Ô∏è‚É£ Select the top 4 bowlers based on total Z-score

# 6Ô∏è‚É£ Display selected bowlers' name, country, and total Z-score

# ANSWERS
##### For bowlers, we need to be extra clever because sometimes less is more (lower averages are better), 
#####  so we have to mathematically "flip" those metrics!

In [37]:

bowler_data['Bowling Average_inv'] = 1 / bowler_data['Bowling Average']
bowler_data['Economy Rate_inv'] = 1 / bowler_data['Economy Rate']


bowler_features = ['Wickets', 'Maiden Overs', 'Bowling Average_inv', 'Economy Rate_inv']


for feature in bowler_features:
    bowler_data[feature + '_z'] = calculate_z_score(bowler_data[feature])


bowler_data['zTot'] = bowler_data[[f + '_z' for f in bowler_features]].sum(axis=1)


top_4_bowlers = bowler_data.sort_values('zTot', ascending=False).head(4)


top_4_bowlers[['Player Name', 'Country', 'zTot']]

         Player Name   Country      zTot
0           B Kumar      India  9.658133
3   Mohammad Naveed        UAE  6.494792
17        JJ Bumrah      India  4.105296
10    Mohammad Amir   Pakistan  4.042879

### C. Wicket-Keeper (pick 1)  
Standardise (**z-score**) the following (higher ‚Üí better):  
- `Dismissals`  
- `Catches`  
- `Stumpings`

In [ ]:
# Define the features to use for z-score calculation

# Calculate z-scores for the selected features individually

# Sum the z-scores for each wicket-keeper and add as a new column 'zTot'

# Select the top 1 wicket-keeper based on the total z-score

# Display the selected wicket-keeper's name, country, and total z-score

# ANSWERS:

In [26]:

keeper_features = ['Dismissals', 'Catches', 'Stumpings']


for feature in keeper_features:
    wicketkeeper_data[feature + '_z'] = calculate_z_score(wicketkeeper_data[feature])


wicketkeeper_data['zTot'] = wicketkeeper_data[[f + '_z' for f in keeper_features]].sum(axis=1)


top_keeper = wicketkeeper_data.sort_values('zTot', ascending=False).head(1)


top_keeper[['Player Name', 'Country', 'zTot']]

  Player Name Country     zTot
0   MS Dhoni    India  4.31297

### D. Final Best-XI  
Combine the three lists into one DataFrame with columns:  
`Role | Player Name | Country`

In [ ]:

# ----------  YOUR CODE HERE  ----------
# Add a 'Role' column to each list, then concat and display
#Player Name Country and Role
# --------------------------------------

# ANSWERS

In [58]:

top_6_batsmen['Role'] = 'Batsman'
top_4_bowlers['Role'] = 'Bowler'
top_keeper['Role'] = 'Wicket-Keeper'

batsmen_display = top_6_batsmen[['Role', 'Player Name', 'Country']]
bowlers_display = top_4_bowlers[['Role', 'Player Name', 'Country']]
keeper_display = top_keeper[['Role', 'Player Name', 'Country']]


Fantastic_Team = pd.concat([batsmen_display, bowlers_display, keeper_display], ignore_index=True)
Fantastic_Team

             Role         Player Name      Country
0         Batsman            V Kohli         India
1         Batsman        Babar Hayat     Hong Kong
2         Batsman        Mahmudullah    Bangladesh
3         Batsman      PBB Rajapaksa     Sri Lanka
4         Batsman  Najibullah Zadran   Afghanistan
5         Batsman    Mohammad Rizwan      Pakistan
6          Bowler            B Kumar         India
7          Bowler    Mohammad Naveed           UAE
8          Bowler          JJ Bumrah         India
9          Bowler      Mohammad Amir      Pakistan
10  Wicket-Keeper           MS Dhoni         India

In [44]:
Fantastic_Team ['Rank'] = range(1, len(Fantastic_Team )+1)

# Display final polished table (without total_score for submission)
Fantastic_Team  = Fantastic_Team [['Rank', 'Role', 'Player Name', 'Country']]
Fantastic_Team

    Rank           Role         Player Name      Country
0      1        Batsman            V Kohli         India
1      2        Batsman        Babar Hayat     Hong Kong
2      3        Batsman        Mahmudullah    Bangladesh
3      4        Batsman      PBB Rajapaksa     Sri Lanka
4      5        Batsman  Najibullah Zadran   Afghanistan
5      6        Batsman    Mohammad Rizwan      Pakistan
6      7         Bowler            B Kumar         India
7      8         Bowler    Mohammad Naveed           UAE
8      9         Bowler          JJ Bumrah         India
9     10         Bowler      Mohammad Amir      Pakistan
10    11  Wicket-Keeper           MS Dhoni         India